Source: python-xstatic-mdi
Section: python
Priority: optional
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Thomas Goirand <zigo@debian.org>,
 Ivan Udovichenko <iudovichenko@mirantis.com>
Build-Depends: debhelper (>= 10),
               dh-python,
               python-all,
               python-setuptools,
               python3-all,
               python3-setuptools,
Build-Conflicts: python-xstatic,
                 python3-xstatic,
Standards-Version: 3.9.8
Vcs-Browser: https://git.openstack.org/cgit/openstack/deb-python-xstatic-mdi?h=debian%2Fnewton
Vcs-Git: https://git.openstack.org/openstack/deb-python-xstatic-mdi -b debian/newton
Homepage: https://github.com/stackforge/xstatic-mdi

Package: python-xstatic-mdi
Architecture: all
Depends: fonts-materialdesignicons-webfont (>= 1.4.57),
         python-xstatic,
         ${misc:Depends},
         ${python:Depends},
Description: Material Design Icons Webfont XStatic support - Python 2.7
 XStatic is a Python web development tool for handling required static data
 files from external projects, such as CSS, images, and JavaScript. It provides
 a lightweight infrastructure to manage them via Python modules that your app
 can depend on in a portable, virtualenv-friendly way instead of using embedded
 copies.
 .
 This package contains the Python 2.7 module support for the Material Design
 Icons Webfont. See the description of the fonts-materialdesignicons-webfont
 package.

Package: python3-xstatic-mdi
Architecture: all
Depends: fonts-materialdesignicons-webfont (>= 1.4.57),
         python3-xstatic,
         ${misc:Depends},
         ${python3:Depends},
Description: Material Design Icons Webfont XStatic support - Python 3.x
 XStatic is a Python web development tool for handling required static data
 files from external projects, such as CSS, images, and JavaScript. It provides
 a lightweight infrastructure to manage them via Python modules that your app
 can depend on in a portable, virtualenv-friendly way instead of using embedded
 copies.
 .
 This package contains the Python 3.x module support for the Material Design
 Icons Webfont. See the description of the fonts-materialdesignicons-webfont
 package.
